@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-rosewater: rgb(245, 224, 220);
  --color-flamingo: rgb(242, 205, 205);
  --color-pink: rgb(245, 194, 231);
  --color-mauve: rgb(203, 166, 247);
  --color-red: rgb(243, 139, 168);
  --color-maroon: rgb(235, 160, 172);
  --color-peach: rgb(250, 179, 135);
  --color-yellow: rgb(249, 226, 175);
  --color-green: rgb(166, 227, 161);
  --color-teal: rgb(148, 226, 213);
  --color-sky: rgb(137, 220, 235);
  --color-sapphire: rgb(116, 199, 236);
  --color-blue: rgb(137, 180, 250);
  --color-lavender: rgb(180, 190, 254);
  --color-text: rgb(205, 214, 244);
  --color-subtext1: rgb(186, 194, 222);
  --color-subtext0: rgb(166, 173, 200);
  --color-overlay2: rgb(147, 153, 178);
  --color-overlay1: rgb(127, 132, 156);
  --color-overlay0: rgb(108, 112, 134);
  --color-surface2: rgb(88, 91, 112);
  --color-surface1: rgb(69, 71, 90);
  --color-surface0: rgb(49, 50, 68);
  --color-base: rgb(30, 30, 46);
  --color-mantle: rgb(24, 24, 37);
  --color-crust: rgb(17, 17, 17);
}

body {
  @apply bg-mantle;
}

@layer components {
  .header-box {
    @apply text-mantle py-1 px-3 border-2 border-transparent rounded-xl shadow-sm hover:shadow-white hover:border-text;
  }

  .header-box:hover {
    @apply transition-all duration-200;
  }
}

@layer components {
  .center-container {
    @apply flex justify-center items-center;
  }
}

.scrolling-text-container {
  width: 100%;
  overflow: hidden;
  height: 1.5rem;
}

.scrolling-text {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-left 70s linear infinite;
}

.announcement-segment {
  display: inline-block;
  margin-right: 4rem;
}

.separator {
  display: inline-block;
  margin: 0 2rem;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-100%));
  }
}
